html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
  height: 100vh;
}
.header * {
  box-sizing: border-box;
}
.header {  
  position: relative;
  top: 0px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 15px;
  z-index: 2;
}
.main-menu{
  display: flex;
  width: 1280px;
  justify-content: flex-end;   
  margin: auto;
}
.main-menu_sub-item li{  
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
} 
.main-menu  li {  
  height: 50px;
  list-style: none;  
  position: relative;
  padding: 0px 15px;
  font-size: 14px;
  line-height: 45px;
  background-color: white;
  transition: all .5s;
}
.main-menu > li:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);  
}
.main-menu li:not([class]):hover {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}
.main-menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
  background-color: white;
}
.main-menu li:hover > ul {
  display: block;
  width: 210px;
  height: 30px;
  cursor: pointer;
}

.main-menu ul ul {
  display: none;
  top: 0;
  left: 100%;
}
.main-menu .not-style-hover {
  color: rgb(192, 192, 192);
  padding: 6px 15px;
  margin: 0px;
  font-size: 12px;
  height: 25px;
  line-height: 1;
  cursor: default;
}
li a {
  text-decoration: none;
  color: black;
}
h3 {
  font-weight: 200;
}
input[type="checkbox"] {
  width: 20px;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition: 0.5s;
  position: relative;
}
input:checked[type="checkbox"] {
  background: #02a9f4;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 10px;
}
#modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
#modal:target {
  opacity: 1;
  visibility: visible;
}
.modal-inner {
  position: relative;
  background-color: #fff;
  width: 400px;
  padding: 30px;
  transform: scale(0);
  transition: all 0.5s easy;
}
#modal:target .modal-inner{
  transform: scale(1);
}
.modal-inner_text{
  font-size: 13px;
}
a.modal-inner_close {
  text-decoration: none;
  font-size: 12px;
  color: rgb(59, 59, 59);
  padding: 7px;  
  border: 1px solid rgb(94, 94, 100);
}
.toggle {
  margin-bottom: 30px;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  padding: 5px;
}

.content {
  border-top: 2px solid #1E79BE;
  padding-bottom: 55px;
}

.main-content {
  font-size: 16px;
  padding: 45px;
  min-height: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.footer {
  padding-left: 5px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: #A1A1A1;
  position: relative;
  margin-top: 25px;
  left: 0;
  right: 0;
  background: #E5E5E5;
}

.logo-img {
  float: left;
  margin-right: 8px;
}

.footer-name {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 16px;
}

.back-block {
  padding-bottom: 13px;
  margin-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.back-block a {
  text-decoration: none;
  color: #3072C4;
}

.adress {
  font-size: 22px;
  line-height: 30px;
  width: 707px;
}

.description {
  width: 619px;
  line-height: 25px;
}

.description p:last-child {
  color: #A1A1A1;
}

.checkbox {
  margin: 24px 0;
}
.checkbox-elem p {
  height: 20px;
  margin: 0;
}
.checkbox-elem p:last-child {
  color: #A1A1A1;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: flex;
  margin-bottom: 20px;
  user-select: none;
  cursor: pointer;
}
.custom-checkbox+label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #adb5bd;
  border-radius: 1px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 85%;
}
.custom-checkbox:checked+label::before {
  border-color: #1D85D0;
  background-color: #1D85D0;
  background-image: url(/img/check.svg);
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.order-btn {
  width: 172px;
  font-size: 16px;
  border: 1px solid #1E79BE;
  background: #1E79BE;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 15px 7px 15px;
  margin-top: 15px;

}